@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Roboto+Slab&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafaf7;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* ALLES VOOR DE HEADER */
.menu-bar {
  display: block;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 6em;
  z-index: 2;
  top: 0;
}

.header-afbeeldingen {
  display: inline-block;
  position: absolute;
  margin-left: 1em;
}

.logo {
  height: 4em;
  width: auto;
  left: 0;
  margin: 10px;
}

.menu-icon {
  height: 2em;
  width: 2em;
  margin: 1em;
}

/* ALLES VOOR HET HAMBURGER MENU */
.menu {
  width: 3em;
  height: 3em;
  margin: 2.2em;
  cursor: pointer;
  right: 0;
  position: absolute;
  top: 0;
  text-decoration: none;
  border: none;
  background-color: white;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #4D3928;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar2 {
  opacity: 100%;
}

#bar3 {
  transform: translateY(4px);
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0%;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.nav li a {
  color: #4D3928;
  text-decoration: none;
}

.nav li {
  list-style: none;
  padding: 10px 20px;
  border-top: 2px solid #ede5d5;
  border-bottom: 2px solid #ede5d5;
}

.nav {
  padding: 0px;
  margin-top: 10em;
  transition: 0.3s ease;
  display: none;
}

.menu-bg {
  right: 0;
  z-index: 1;
  width: 0;
  height: 100%;
  background-color: white;
  border-bottom: 5px solid #ede5d5;
  transition: 0.3s ease;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
}

.change-bg {
  width: 100%;
}

.change {
  display: block;
}

.menu-bar {
  border-bottom: 5px solid #ede5d5;
}

/* ALLES VOOR DE BANNER IMAGE, TEKST EN KNOP */
.img-container {
  background-image: url("../images/WinterEftelingZweefmolen.jpg");
  height: 70vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

.inner-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: auto;
  margin-top: 10em;
  width: 100%;
}

h1 {
  margin-top: 1.5em;
  font-size: 4em;
  font-family: 'Courgette', cursive;
  width: 100%;
}

a {
  font-size: 1em;
}

.btn {
  display: inline-block;
  width: auto;
  font-weight: bold;
  padding: 1em;
  color: white;
  border: 4px solid white;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  margin-top: 1em;
  border-radius: 5px;
}

.btn:hover,
.btn:active,
.btn:hover p {
  background-color: #fff;
  color: black;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* Alles voor de corona update box */
.SpecialWarning {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  background-color: #e0f0ff;
  border: 3px solid #a1d1ff;
  border-radius: 5px;
  padding: 1em;
  margin-top: 2em;
  margin-left: 25vw;
  margin-right: 25vw;
  width: auto;
  height: auto;
}

.SpecialWarning h3 {
  font-weight: bold;
}

.SpecialWarning p {
  font-weight: normal;
}

.SpecialWarning a {
  font-weight: bold;
  color: #6eb8ff;
  text-decoration: underline;
  cursor: pointer;
}

/* DE EERSTE 3 CONTENT BLOKKEN */
.main-articles {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: auto;
  height: 100%;
  padding: 1em;
}

.main-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: auto;
  height: 100%;
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid #ede5d5;
  background-color: white;
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.main-article h3 {
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
  margin: 1em;
  color: #b71234;
}

.main-article p {
  margin-bottom: 3.5em;
  padding: 1em;
  color: black;
}

.btn3 {
  padding: 0.5em 1em;
  margin: 1em;
  min-width: 200px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #b71234;
  border: 9px double #ede5d5;
  text-align: center;
  transition: 0.3s ease-out;
  background-color: white;
  bottom: 1em;
}

.btn3:hover {
  text-decoration: none;
  color: #b71234;
  border: 9px double #ede5d5;
  text-align: center;
  background-color: #f2f2f2;
  transition: 0.3s ease-in;
}


/* ALLES VOOR DE TWEEDE BANNER IMAGE, TEKST EN KNOP */
.img-container2 {
  background-image: url("../images/KaartEfteling.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  margin-top: 5em;
}

.btn2 {
  display: inline-block;
  font-weight: bold;
  padding: 1em;
  background-color: rgb(183, 18, 52);
  color: white;
  border: 1px double rgb(155, 15, 44);
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  margin: 2em;
}

.btn2:hover,
.btn2:active {
  background-color: rgb(155, 15, 44);
  color: #fff;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* ALLES VOOR DE CONTENT BETREFT DE EFTELING BLOG */
h2 {
  font-size: 3em;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: #b71234;
  font-family: 'Roboto Slab', serif;
  margin: 0.5em;
  margin-top: 2em;
  position: relative;
}

.blog-articles {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  padding: 1em;
}

.blog-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: auto;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ede5d5;
  margin: 0.5em;
  padding: 0.5em;
  background-color: white;
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-article h3 {
  font-family: 'Roboto Slab', serif;
  margin: 1em;
  font-size: 1em;
  color: #b71234;
}

.blog-article article {
  font-family: 'Roboto Slab', serif;
  padding: 0.5em;
  font-size: 1.5em;
  color: black;
}

.blog-article p {
  padding: 1em;
  color: grey;
  font-size: 1em;
}

.btn4 {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  padding: 1em;
  background-color: rgb(183, 18, 52);
  color: white;
  border: 1px double rgb(155, 15, 44);
  border-radius: 5px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  margin: 2em;
  margin-left: 33vw;
  margin-right: 33vw;
  width: 33vw;
}

.btn4:hover {
  background-color: rgb(155, 15, 44);
  color: #fff;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  cursor: pointer;
}


/* BEGIN VAN ALLES WAT MET DE FOOTER TE MAKEN HEEFT */
/*
footer {
  background-color: white;
  border-top: 5px solid #ede5d5;
  margin-top: 5em;
}

.vragen {
  display: grid;
  position: relative;
  left: 10%;
  width: 20%;
  height: auto;
}

.MainFooterContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(6, 200px);
  position: relative;
  border-top: 2px solid #ede5d5;
  border-bottom: 2px solid #ede5d5;
  margin-top: 10px;
}

.Box1, .FooterNav1,
.Box2, .FooterNav2,
.Box3, .FooterNav3,
.Box4, .FooterNav4 {
  width: 50%;
  height: auto;
  left: 10%;
  position: relative;
  list-style-type: none;
  text-decoration: none;
}

.Box1 h2,
.Box2 h2,
.Box3 h2,
.Box4 h2 {
  color: black;
  font-weight: bold;
}

.BoxContent p {
  font-style: italic;
}

.BoxContent li {
  text-decoration: none;
  text-align: left;
}

*/

/* MEDIA QUERIES */

/*/ Smartphones /*/
@media only screen and (min-width: 320px) {
  h1 {
    margin-top: 1.5em;
    font-size: 2.5em;
    width: 100%;
  }

  .menu-icon {
    display: none;
  }

  .inner-container {
    margin-top: 8em;
  }

  .main-articles,
  .blog-articles {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 100%;
  }

  .main-article,
  .blog-article {
    width: auto;
    height: auto;
  }

  .article-image,
  .blog-image {
    width: 100%;
    height: auto;
  }
}

/*/ iPads, Tablets /*/
@media only screen and (min-width: 481px) {

  .btn4 {
    margin-left: 33vw;
    margin-right: 33vw;
    width: auto;
  }

  .SpecialWarning {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  h1 {
    margin-top: 1.5em;
    font-size: 3em;
    width: 100%;
  }

  .menu-icon {
    display: inline-block;
  }

  .main-articles,
  .blog-articles {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 100%;
  }

  .main-article,
  .blog-article {
    width: auto;
    height: auto;
  }

  .article-image,
  .blog-image {
    width: 100%;
    height: auto;
  }
}


/*/ Kleine schermen, laptops /*/
@media only screen and (min-width: 769px) {
  .btn4 {
    margin-left: 40vw;
    margin-right: 40vw;
    width: auto;
  }

  .SpecialWarning {
    margin-left: 25vw;
    margin-right: 25vw;
  }

  h1 {
    margin-top: 1.5em;
    font-size: 4em;
    width: 100%;
  }

  .main-articles,
  .blog-articles {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
  }

  .main-article,
  .blog-article {
    width: 33%;
    height: auto;
  }

  .article-image,
  .blog-image {
    width: 100%;
    height: 20em;
  }
}

/*/ Desktops, grote schermen /*/
@media only screen and (min-width: 1025px) {

  .main-articles,
  .blog-articles {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
  }

  .main-article,
  .blog-article {
    width: 33%;
    height: auto;
  }

  .article-image,
  .blog-image {
    width: 25em;
    height: 25em;
  }
}

/*/ Gigantische Schermen, TV's /*/
@media only screen and (min-width: 1201px) {

  .main-articles,
  .blog-articles {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
  }

  .main-article,
  .blog-article {
    width: 33%;
    height: auto;
  }

  .article-image,
  .blog-image {
    width: 100%;
    height: 20em;
  }
}