/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
box-sizing: border-box;
display: block;
height: 43px;
margin-bottom: 8px;
margin-left: 8px;
margin-right: 8px;
margin-top: 8px;
width: 359.2px;
}

/* ALLE CSS VAN HET <HEADER> ELEMENT OP IPHONE X FORMAAT */ 

header.site-header.js-header {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(237, 229, 213);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: block;
  font-family: Opensans, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 54px;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: fixed;
  text-size-adjust: 100%;
  top: 0px;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: linear;
  vertical-align: baseline;
  width: 375.2px;
  z-index: 39;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.container--1.pr- {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: block;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 43px;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 1024px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 375.2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.header_logo.mr {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  bottom: -7.5px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  cursor: pointer;
  display: block;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 36px;
  left: -8px;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: -2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: absolute;
  text-decoration-color: rgb(77, 57, 40);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  top: 26.5px;
  transform: matrix(1, 0, 0, 1, 0, -18);
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: linear;
  vertical-align: baseline;
  width: 150px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav.white-space--nowrap {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: block;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 43px;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  white-space: nowrap;
  width: 345.2px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* EERSTE DIV ONDER DE NAV */

div.portable-display--none {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: none;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul.meta-navigation {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: block;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  left: auto;
  line-height: 21px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 10px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: -512px;
  margin-left: -512px;
  margin-right: 0px;
  margin-top: 10px;
  padding-bottom: 0px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 26px;
  padding-top: 0px;
  position: absolute;
  right: 0px;
  text-align: right;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li.meta-navigation_item {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: inline-block;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  line-height: 21px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 30px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: right;
  text-size-adjust: 100%;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li.meta-navigation_item meta-navigation_item--has-dropdown has-dropdown meta-navigation_item--language-select {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  cursor: pointer;
  display: inline-block;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  line-height: 21px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 11px;
  padding-left: 0px;
  padding-right: 25px;
  padding-top: 0px;
  position: relative;
  text-align: right;
  text-size-adjust: 100%;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul.site-navigation zero-spacing {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: block;
  float: right;
  font-family: empty;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  line-height: 0px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 48px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 48px;
  padding-bottom: 0px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li.site-navigation_item has-subnav {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: inline-block;
  font-family: empty;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  line-height: 28px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  text-size-adjust: 100%;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  cursor: default;
  display: block;
  font-family: ErnestineWeb-Bold, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  line-height: 28px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.site-navigation_item_subnav {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: block;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 28px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: absolute;
  right: 0px;
  text-align: left;
  text-size-adjust: 100%;
  top: -1000px;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: linear;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
  z-index: 46;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.container--1 {
  border-bottom-color: rgb(77, 57, 40);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(77, 57, 40);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(77, 57, 40);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(77, 57, 40);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(77, 57, 40);
  display: block;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  line-height: 28px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 1024px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0px;
  text-align: left;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.layout.m10.pr.pv.mv- {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: block;
font-family: OpenSans, sans-serif;
font-size: 0px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: auto;
line-height: 0px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
padding-bottom: 20px;
padding-left: 0px;
padding-right: 20px;
padding-top: 20px;
text-align: left;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: auto;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.layout_item {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: inline-block;
font-family: OpenSans, sans-serif;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: auto;
line-height: 28px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
text-size-adjust: 100%;
vertical-align: top;
white-space: nowrap;
width: 25%;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h5 {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: block;
font-family: OpenSans, sans-serif;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;
height: auto;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-block-end: 10px;
margin-block-start: 0px;
margin-bottom: 10px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: auto;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul { 
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: block;
font-family: OpenSans, sans-serif;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: auto;
line-height: 28px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-block-end: 0px;
margin-block-start: 0px;
margin-bottom: 0px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-inline-start: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: auto;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.font-icon-search.delta {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
cursor: pointer;
display: inline-block;
font-family: icomoon;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 24px;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
speak: none;
text-align: left;
text-size-adjust: 100%;
text-transform: none;
vertical-align: baseline;
white-space: nowrap;
width: 20px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li.site-navigation_item js-basket {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: inline-block;
font-family: empty;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: auto;
line-height: 28px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: auto;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.font-icon.font-icon-basket.delta {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
cursor: pointer;
display: inline-block;
font-family: icomoon;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 24px;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
speak: none;
text-align: left;
text-size-adjust: 100%;
text-transform: none;
vertical-align: baseline;
white-space: nowrap;
width: 20px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.basket-amount.js-basket-amount.visuallyhidden.text--center {
border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
clip: rect(0px, 0px, 0px, 0px);
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: ErnestineWeb-Bold, sans-serif;
font-size: 10px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 1px;
line-height: 17.5px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: -1px;
margin-left: -1px;
margin-right: -1px;
margin-top: -1px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: -8px;
text-align: center;
text-size-adjust: 100%;
top: 1px;
vertical-align: baseline;
white-space: nowrap;
width: 1px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.basket-amount_number.js-basket-amount-number.copy-face.weight--bold {
border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline;
font-family: OpenSans, sans-serif;
font-size: 10px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;
height: auto;
line-height: 16px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: center;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: auto;
z-index: 2;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li.site-navigation_item.site-navigation_item--button.ml {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: inline-block;
font-family: empty;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: auto;
line-height: 28px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: auto;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.btn.btn--primary {
background-color: rgb(183, 18, 52);
border-bottom-color: rgb(183, 18, 52);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(183, 18, 52);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(183, 18, 52);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(183, 18, 52);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: ErnestineWeb-Bold, sans-serif;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: auto;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: -5px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 5px;
padding-left: 20px;
padding-right: 20px;
padding-top: 7px;
position: relative;
text-align: center;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
text-size-adjust: 100%;
vertical-align: middle;
white-space: nowrap;
width: auto;
z-index: 1;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

</* TWEEDE DIV ONDER DE NAV */

div.display--none.portable-display--block.text--right {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: block;
font-family: OpenSans, sans-serif;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 43px;
line-height: 16px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: right;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: 345.2px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.header_menu-basket.js-basket {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: inline-block;
font-family: OpenSans, sans-serif;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 24px;
line-height: 16px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 18px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: right;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: 24px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.font-icon.font-icon--basket.gamma {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
cursor: pointer;
display: inline-block;
font-family: icomoon;
font-size: 20px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 24px;
line-height: 30px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
speak: none;
text-align: right;
text-size-adjust: 100%;
text-transform: none;
vertical-align: baseline;
white-space: nowrap;
width: 20px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.basket-amount.js-basket-amount.visuallyhidden.text--center { 
border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
clip: rect(0px, 0px, 0px, 0px);
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: OpenSans, sans-serif;
font-size: 10px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 1px;
line-height: 10px;
margin-bottom: -1px;
margin-left: -1px;
margin-right: -1px;
margin-top: -1px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: -8px;
text-align: center;
text-size-adjust: 100%;
top: 1px;
vertical-align: baseline;
white-space: nowrap;
width: 1px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.basket-amount_number.js-basket-amount-number.copy-face.weight--bold {
border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline;
font-family: OpenSans, sans-serif;
font-size: 10px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;
height: auto;
line-height: 16px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: center;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: auto;
z-index: 2;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.header_menu-search {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
display: inline-block;
font-family: OpenSans, sans-serif;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 24px;
line-height: 16px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 12px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: right;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: 24px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.font-icon.font-icon--search.gamma {
border-bottom-color: rgb(77, 57, 40);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(77, 57, 40);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(77, 57, 40);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(77, 57, 40);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(77, 57, 40);
cursor: pointer;
display: inline-block;
font-family: icomoon;
font-size: 20px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 24px;
line-height: 30px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
speak: none;
text-align: right;
text-size-adjust: 100%;
text-transform: none;
vertical-align: baseline;
white-space: nowrap;
width: 20px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.header_menu-button.js-toggle-palm-nav /*.header_menu-button--close*/ {
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(255, 255, 255);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(77, 57, 40);
cursor: pointer;
display: inline-block;
font-family: OpenSans, sans-serif;
font-size: 16px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;
height: 32px;
line-height: 32px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 11px;
padding-bottom: 0px;
padding-left: 10px;
padding-right: 40px;
padding-top: 0px;
position: relative;
text-align: right;
text-size-adjust: 100%;
text-transform: uppercase;
vertical-align: baseline;
white-space: nowrap;
width: 101.15px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.header_menu-icon::before {
  animation-delay: 0s;
  animation-direction: reverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: beforeToMiddleRev;
  animation-play-state: running;
  animation-timing-function: linear;
  background-color: rgb(77, 57, 40);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 3px;
  left: 12px;
  margin-bottom: 0px;
  margin-left: -12px;
  margin-right: 0px;
  margin-top: 0px;
  position: absolute;
  top: -8px;
  width: 24px;
  will-change: transform;
}

div.header_menu-icon::after {
animation-delay: 0s;
animation-direction: reverse;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-iteration-count: 1;
animation-name: afterToMiddleRev;
animation-play-state: running;
animation-timing-function: linear;
background-color: rgb(77, 57, 40);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
box-sizing: border-box;
content: "";
display: block;
height: 3px;
left: 12px;
margin-bottom: 0px;
margin-left: -12px;
margin-right: 0px;
margin-top: 0px;
position: absolute;
top: 8px;
width: 24px;
will-change: transform;
}

@font-face {
  font-family: "Open Sans";
  src: url(/Open_Sans/OpenSans-Regular.ttf)
}