@font-face {
  font-family: "OpenSans" sans-serif;
  src: url(/Open_Sans/OpenSans-Regular.ttf)
}

body {
  font-family: "OpenSans";
  background-color: #ede5d5;
}


/* ALLES VOOR HET HAMBURGER MENU */
#menu {
  width: 35px;
  height: 30px;
  margin: 20px 20px 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #4D3928;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar2 {
  opacity: 100%;
}

#bar3 {
  transform: translateY(4px);
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0%;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.nav li a {
  color:  #4D3928;
  text-decoration: none;
}

.nav li {
  list-style: none;
  padding: 0px 20px;
}

.nav {
  padding: 0px;
  margin: 0px 20px;
  transition: 0.3s ease;
  display: none;
}

.menu-bg, #menu-bar {
  top: 0;
  right: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background-color: white;
  transition: 0.3s ease;
}

#menu-bar {
  z-index: 2;
}

.change-bg {
  width: 550px;
  height: 540px;
}

.change {
  display: block;
}
/* EINDE VAN AL HET HAMBURGER MENU GEDOE */

